body {
    background-color: white;
}
.button {
    padding-right: .65em;
}
.button:hover {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
}

.active {
    background-color:green; 
}
.copy{
    margin-top: 30px;
    margin-right: 10px;
}
.customButtons{
    margin-left: 100px;
}

.confirm {
    background-color:#00d1b2 !important;
}
.confirm:hover {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
    
}