body {
    background-color: white;
}
.button {
    padding-right: .65em;
}
.active {
    background-color:green; 
}
.copy{
    margin-top: 30px;
    margin-right: 10px;
}
.customButtons{
    margin-left: 100px;
}